@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.section1__all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto !important; 
  padding: 40px;
  background-color: #101046; 
  animation: fadeIn 1.5s ease-in-out; 
  
}

.all__sec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px; 
}

.leftside {
  max-width: 600px;
}

.leftside__content {
  color: #fff;
  animation: fadeIn 2s ease-in-out; 
}

.intro-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
  animation: bounce 2s infinite; 
}

.intro-subtitle {
  font-size: 2rem;
  margin-bottom: 20px;
}

.highlight {
  color: #00bfff; 
}

.description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out; 
}

.buttons {
  display: flex;
  gap: 20px;
}

.resume-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00bfff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.resume-btn:hover {
  background-color: #009acd;
  transform: scale(1.05); 
}

.right__side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px; 
  height: 350px; 
  border-radius: 50%;
  overflow: hidden; 
  position: relative; 
  background: linear-gradient(135deg, #1e3c72, #2a5298); 
  padding: 5px; 
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4), 
              0 0 50px rgba(0, 0, 0, 0.2), 
              inset 0 0 10px rgba(255, 255, 255, 0.1); 
}

.profile-photo {
  width: 100%;
  height: 100%;
  border-radius: 50%; 
  object-fit: cover; 
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5); 
}

@media only screen and (max-width: 1000px) {
  .all__sec1 {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 700px) {
  .all__sec1 {
    min-height: 1200px !important;
  }
}
.socialmedias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.smedia {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  transition: box-shadow 0.3s ease; /* Keçid effekti */
}

.smedia a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.smedia a i {
  font-size: 20px;
  color: white !important;
}

.smedia:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 
              0 0 20px rgba(255, 255, 255, 0.4), 
              0 0 25px rgba(255, 255, 255, 0.3);
}

.resume-btn{
  a{
    text-decoration: none !important;
    color: white;
  }
}