.skills-container {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    color: #fff !important;
    padding-bottom: 100px;

    .skill-card {
        width: 200px;
        height: 200px;
        border: 1px solid #9276d7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        position: relative;
        transform: rotate(45deg);
        transition: transform 0.3s, box-shadow 0.3s;
        background-color: #000036;
        opacity: 0;
        transform: translateX(50px) rotate(45deg); // Başlanğıc mövqeyi

        animation: slideIn 0.8s ease forwards; // Animasiya tətbiqi

        &:hover {
            box-shadow: rgba(235, 232, 232, 0.25) 0px 54px 55px, rgba(255, 254, 254, 0.12) 0px -12px 30px, rgba(249, 249, 249, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px !important;
        }

        .skill-image-wrapper {
            width: 20%;
            height: 20%;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -80px;
            margin-left: -80px;

            .skill-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                transform: rotate(-45deg);
            }
        }

        .skill-name {
            position: absolute;
            top: 90px;
            transform: rotate(-45deg);
            font-size: 16px;
            font-weight: 600;
            color: #ffffff;
            text-align: center;
            width: 100%;
        }

        .skill-desc {
            position: absolute;
            bottom: 30px;
            transform: rotate(-45deg);
            font-size: 12px;
            left: 50px;
            text-align: center;
            color: #ffffff;
            padding: 0 10px;
            width: 80%;
        }
    }
}

.skill-card:hover {
    box-shadow: rgba(235, 232, 232, 0.25) 0px 54px 55px, rgba(255, 254, 254, 0.12) 0px -12px 30px, rgba(249, 249, 249, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px !important;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(50px) rotate(45deg); // Başlanğıc mövqeyi sağda
    }

    100% {
        opacity: 1;
        transform: translateX(0) rotate(45deg); // Kartın son mövqeyi
    }
}
.loading-container {
    display: grid;
    grid-template-columns: repeat(2, 30px); // 2x2 düzülüş
    grid-gap: 5px; // Kvadratlar arasında daha az boşluq
    justify-content: center;
    align-items: center;
    height: 10vh; // Ekranın ortasında yerləşdirmək üçün

    .square {
        width: 30px;
        height: 30px;
        animation: rotate 1s infinite ease-in-out;
    }

    .orange { background-color: orange; animation-delay: 0s; }
    .green { background-color: green; animation-delay: 0.25s; }
    .blue { background-color: blue; animation-delay: 0.5s; }
    .red { background-color: red; animation-delay: 0.75s; }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(90deg); }
    100% { transform: rotate(180deg); }
}

.loading__all{
    height: 70vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}