.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 200px;
  width: 100% !important;
  background: #101046; 
  box-shadow: rgba(234, 232, 232, 0.35) 0px 5px 15px; 
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #fff; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
  padding: 5px 10px;
  border-radius: 5px;
}

.nav a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: 27px;
  font-family: 'Roboto', sans-serif;
}

.nav-link {
  position: relative;
  padding: 5px 10px;
}

.nav-link.active-link {
  color: blue; /* Aktiv link qırmızı olacaq */
  border-bottom: 2px solid blue; /* Alt xətt */
}

.nav a:hover {
  color: blue; 
}

@media only screen and (max-width: 900px) {
  .header {
      display: flex;
      gap: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .title {
      font-size: 20px;
  }
  .nav a {
      font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .nav {
      display: none;
  }
  .offcanvasasa {
      display: block !important;
  }
}

.offcanvasasa {
  color: white !important;
  display: none;
}

.offlinks {
  display: flex;
  flex-direction: column;
}

.offcanvas {
  background-color: #101046 !important;
  max-height: 60vh;
  overflow-y: auto;
  width: 100% !important;
  color: #fff;
}

.offcanvas-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.offlinks a {
  color: #fff;
  text-decoration: none;
  font-size: 23px;
}

.offbtn {
  position: relative;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1051;
  background-color: transparent !important;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 2px;
}

.offbtn.active .bar:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.offbtn.active .bar:nth-child(2) {
  opacity: 0;
}

.offbtn.active .bar:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}
